<section class="bg-1 container-fluid">
    <div class="container">
        <div class="row">
            <article class="col-md-8 p-5">
                <div class="row">
                    <div class="main-content-article">
                        <div class="article-header pb-4">
                            <h1 class="blue-title font-black-italic font-weight-bold">Nossas conquistas</h1>
                        </div>
                        <div class="article-body text-white text-left max-600">
                            <p class="pb-3 _ts2">O motor do nosso desenvolvimento sempre foi ser capazes de ajudar com
                                eficiência e agilidade a todos. Com isso nossa tecnologia está em constante evolução,
                                nossas marcas cresceram para conversar melhor com vocês sobre cada necessidade e nosso
                                time está sempre se renovando para manter a qualidade do nosso atendimento no topo.
                            </p>
                            <p class="pb-4 _ts2">
                                Com isso nossa tecnologia está em constante evolução,
                                nossas marcas cresceram para conversar melhor com vocês sobre cada necessidade e nosso
                                time está sempre se renovando para manter a qualidade do nosso atendimento no topo.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 p-0 text-alignment">
                        <h1 class="text-yellow-dark _ts9">+345</h1>
                        <p class="text-black _ts2">Eventos atendidos</p>
                    </div>
                    <div class="col-md-3 p-0 text-center">
                        <h1 class="text-yellow-dark _ts9">+2050</h1>
                        <p class="text-black _ts2">Usuários monitorados</p>
                    </div>

                    <div class="col-md-3 p-0 text-center">
                        <h1 class="text-yellow-dark _ts9">11</h1>
                        <p class="text-black _ts2">Empresas Clientes</p>
                    </div>

                    <div class="col-md-3 p-0 text-center">
                        <h1 class="text-yellow-dark _ts9">12</h1>
                        <p class="text-black _ts2">Estados presentes</p>
                    </div>
                </div>
            </article>
            <aside class="col-md-4 pl-4 aside-mobile">
                <div class="year-of-xp bg-yellow blue-title">
                    <div class="year-of-xp-title">
                        <h1 class="big-number">18</h1>
                    </div>
                    <div class="year-of-xp-footer">
                        <p class="_ts2 m-0">ANOS DE EXPERIÊNCIA</p>
                        <p class="_ts2 m-0">EM MONITORAMENTO</p>
                    </div>
                </div>
            </aside>

        </div>
    </div>
    </div>
</section>