<div class="container-fluid h-100 p-0">
  <div class="bg-4 strip ">
  </div>
</div>
<div class="container-fluid bg-footer">
<div class="container  pt-5">
    <div class="row mt-5 mb-5">
      <div class="col-md-5">
        <img class="img-logo-footer " src="/images/logo.png" alt="logo lifelink">
        <p class="_ts1 mx-300 pt-2">Adipisicing elit, sed do eiusmod tempor  incididunt ut labore
          Adipisicing elit, sed do eiusmod tempor  incididunt ut labore,  Adipisicing elit, sed do eiusmod tempor  incididunt ut labore
        </p>
      </div>
      <div class="col-md-2 text-secondaryD">
        <ul>
          <li class="p-2 _ts2">
            <a class="link-color-text-secondary-D" href="/">Home</a>
          </li>
          <li class="p-2 _ts2">
            <a class="link-color-text-secondary-D" href="/">Sobre</a>
          </li>
          <li class="p-2 _ts2">
            <a class="link-color-text-secondary-D" href="/">Serviços</a>
          </li>
          <li class="p-2 _ts2">
            <a class="link-color-text-secondary-D" href="/">Valores</a>
          </li>
          <li class="p-2 _ts2">
            <a class="link-color-text-secondary-D" href="/">Contato</a>
          </li>
          <li class="p-2 _ts2">
            <a class="link-color-text-secondary-D" href="/">Blog</a>
          </li>
          <li class="p-2 _ts2">
            <a class="link-color-text-secondary-D" href="/">Login</a>
          </li>
        </ul>
      </div>
      <div class="col-md-3">
        <ul>
          <li class="p-2 _ts2">
            <a class="link-color-text-secondary-D" href="/comoFunciona">Marcas</a>
          </li>
          <li class="p-2 _ts2">
            <a class="link-color-text-secondary-D" href="/blog">VIVA</a>
          </li>
          <li class="p-2 _ts2">
            <a class="</div>-2 _ts2">
            <a class="link-color-text-secondary-D" href="/contato">MARCA 02</a>
          </li>
          <li class="p-2 _ts2">
            <a class="link-color-text-secondary-D" href="/contato">MARCA 03</a>
          </li>
        </ul>
      </div>
 
    </div>
    <div class="row">
      <div class="col-md-5">
        <ul class="p-0">
          <li class="pl-2">
            <a target="_blank" href="https://www.facebook.com/viva.plus60"><i
                class="fab fa-facebook-f ft-size text-black-second pr-2"></i></a>
            <a target="_blank" href="https://www.instagram.com/viva.mais60/"><i
                class="fab fa-instagram ft-size pl-4 text-black-second "></i></a>
            <a target="_blank" href="https://www.youtube.com/channel/UChaI-oPNbONjR7eOmyQ-Qiw"><i
                class="fab fa-youtube  ft-size text-black-second pl-4"></i></a href="">
          </li>
        </ul>
      </div>
      <div class="col-md-5">
        <span class="d-block">lifelink, todos os direitos reservados</span>
      </div>
      <div class="col-md-2">
        <span class="d-block">Voltar para o topo</span>
      </div>
    </div>
  </div>
  </div>

  <% if (typeof controller == 'string' && controller) { %>
  </div>
  </div>
  <% } %>

  

  <!-- STYLE E JS -->
  <link async="true" rel="stylesheet" type="text/css" href="/css/<%= path %>.css" />
  <script src="js/main.js" type="text/javascript"></script>
  </body>
  </html>