<div class="container-fluid h-100 p-0">
  <div class="bg-4 strip ">
  </div>
</div>
<div class="container-fluid bg-footer">
  <div class="container pt-5">
    <div class="row mt-5 mb-5">
      <div class="col-md-5">
        <img class="img-logo-footer" src="/images/logoFooter.png" alt="logo lifelink">
        <p class="_ts1 mx-250 pt-4 black-secondary-text">Adipisicing elit, sed do eiusmod tempor
          incididunt ut labore et dolore magna aliqua.
          Ut enim ad minim veniam, quis nostrud
          exercitation ullamco laboris.
        </p>
      </div>
      <div class="col-md-2 ">
        <ul>
          <li>
          <hr class="hr-color">
          </li>
          <li class="pb-1 _ts2">
            <a class="nav-link-black-footer" href="/">Home</a>
          </li>
          <li class="pb-1 _ts2">
            <a class="nav-link-black-footer" href="/sobre">Sobre</a>
          </li>
          <li class="pb-1 _ts2">
            <a class="nav-link-black-footer" href="/orcamentos">Serviços</a>
          </li>
          <li class="pb-1 _ts2">
            <a class="nav-link-black-footer" href="/">Valores</a>
          </li>
          <li class="pb-1 _ts2">
            <a class="nav-link-black-footer" href="/contato">Contato</a>
          </li>
          <li class="pb-1 _ts2">
            <a class="nav-link-black-footer" href="/">Blog</a>
          </li>
          <!-- <li class="pb-1 _ts2">
            <a class="nav-link-black-footer" href="/">Login</a>
          </li> -->
        </ul>
      </div>
      <div class="col-md-2">
        <ul>
          <li>
            <hr class="hr-color">
            </li>
          <li class="pb-1 _ts2">
            <a class="nav-link-black-footer" href="/comoFunciona">Marcas</a>
          </li>
          <li class="pb-1 _ts2">
            <a class="nav-link-black-footer" href="/blog">VIVA</a>
          </li>
          <li class="pb-1 _ts2">
            <a class="nav-link-black-footer" href="/contato">Marca 02</a>
          </li>
          <li class="pb-1 _ts2">
            <a class="nav-link-black-footer" href="/contato">Marca 03</a>
          </li>
        </ul>
      </div>

    </div>
    <div class="row pb-3 pt-5">
      <div class="col-md-5">
        <ul class="p-0">
          <li class="pl-2">
            <a target="_blank" href="https://www.facebook.com/viva.plus60"><i
                class="fab fa-twitter  ft-size icons-color pr-4"></i></a>
            <a target="_blank" href="https://www.facebook.com/viva.plus60"><i
                class="fab fa-facebook-f ft-size icons-color pr-4"></i></a>
            <a target="_blank" href="https://www.instagram.com/viva.mais60/"><i
                class="fab fa-instagram ft-size pr-4 icons-color "></i></a>
            <a target="_blank" href="https://www.youtube.com/channel/UChaI-oPNbONjR7eOmyQ-Qiw"><i
                class="fab fa-youtube  ft-size icons-color pr-4"></i></a href="">
            <a target="_blank" href="https://www.youtube.com/channel/UChaI-oPNbONjR7eOmyQ-Qiw"><i
                class="fas fa-rss  ft-size icons-color pr-4"></i></a href="">
          </li>
        </ul>
      </div>
      <div class="col-md-5">
        <span class="d-block _ts1 black-secondary-text">&#0169Lifelink. Todos os direitos reservados.</span>
      </div>
      <div class="col-md-2 text-right">
        <span class="d-block _ts1 black-secondary-text"><i class="fas fa-arrow-up pr-1"></i> Voltar para o topo</span>
      </div>
    </div>
  </div>
</div>

<% if (typeof controller == 'string' && controller) { %>
</div>
</div>
<% } %>



<!-- STYLE E JS -->
<link async="true" rel="stylesheet" type="text/css" href="/css/<%= path %>.css" />
<script src="js/main.js" type="text/javascript"></script>
</body>

</html>