<!DOCTYPE html>
<html ng-app="myapp" lang="pt-br">

<head>
    <!-- Charset & page title -->
    <meta charset="UTF-8">
    <title><%= title %></title>

    <meta name='author' content='Projeto Lifelink'>
    <meta name='description' content='<%= description %>'>

    <!-- Responsive metas -->
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no'>

    <!-- Favicon -->
    <link rel='shortcut icon' type='image/x-icon' href='/images/favicon.ico' />
</head>

<body class="h-100" ng-controller="GlobalController">

    <% if (typeof controller == 'string' && controller) { %>
    <div ng-controller="<%= controller %>">
        <% } %>

        <div class="container-fluid">
            <a ng-show="showCloseAnchor" ng-click="showCloseLink()" class="navbar-toggler areaClose" type="button"
                data-toggle="collapse" data-target="#sideMenu" aria-controls="sideMenu" aria-label="Toogle navigation"
                href="javascript:void(0)">x</a>
            <div class="collapse fade-slow" id="sideMenu">
                <div class="bg-dark collapsed  p-5 p-absolute z-index-1 w-25">
                    <h4 class="text-white">Collapsed content</h4>
                    <span class="text-muted">Toggleable via the navbar brand.</span>
                </div>
            </div>
        </div>

        <div class="pos-f-t">
            <nav class="navbar bg-transparent header-top">
                <div class="container ">
                        <ul class="nav">
                            <li class="nav-item">
                                <button class="navbar-toggler navbar-dark" ng-click="showCloseLink()" type="button"
                                    data-toggle="collapse" data-target="#sideMenu" aria-controls="sideMenu"
                                    aria-expanded="false" aria-label="Toggle navigation">
                                    <span class="navbar-toggler-icon"></span>
                                </button>
                            </li>
                        </ul>

                        <ul class="nav justify-content-center">
                            <li class="nav-item">
                                <img src="/images/logo.png"></img>
                            </li>
                        </ul>

                        <ul class="nav justify-content-end">
                            <li class="nav-item">
                                <a class="nav-link active" href="#"></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Marcas</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Login</a>
                            </li>
                        </ul>
                    </div>
            </nav>
        </div>
        <div id="carouselExampleCaptions" class="carousel vertical slide " data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
              <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
              <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
              <li data-target="#carouselExampleCaptions" data-slide-to="3"></li>
              <li data-target="#carouselExampleCaptions" data-slide-to="4"></li>
            </ol>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="bg-mask2"></div>
                <img src="/images/slide1.png" class="d-block w-100 h-80" alt="...">
              </div>
              <div class="carousel-item">
                <div class="bg-mask2"></div>
                <img src="/images/slide1.png" class="d-block w-100 h-80" alt="...">
              </div>
              <div class="carousel-item">
                <div class="bg-mask2"></div>
                <img src="/images/slide1.png" class="d-block w-100 h-80" alt="...">
              </div>
              <div class="carousel-item">
                <div class="bg-mask2"></div>
                <img src="/images/slide1.png" class="d-block w-100 h-80" alt="...">
              </div>
              <div class="carousel-item">
                <div class="bg-mask2"></div>
                <img src="/images/slide1.png" class="d-block w-100 h-80" alt="...">
              </div>
            </div>
          </div>
       