<%- include('templates/header.ejs'); %>
<section class="container-fluid bg-2">
    <div class="container top-container pb-5 ">
        <h1 class="blue-title font-weight-bold _ts9 font-italic budgets-title">Conheça nossa história</h1>
        <div class="row mt-5 pt-5">
            <div class="col-md-3">
                <h2 class="font-weight-bold">O jeito Lifelink</h2>
                <div class="border-the-lifelink-way"></div>
            </div>
            <div class="col-md-9">
                <p class="_ts2">Nunc ac ante nunc. Maecenas arcu purus, maximus ac nisl eget, rutrum iaculis purus. In a
                    eleifend
                    est. Nullam ac eros enim. Nulla facilisi. Sed condimentum condimentum arcu eu lobortis. Donec in
                    tortor, fringilla varius justo feugiat id</p>
                <p class="_ts2">Nunc ac ante nunc. Maecenas arcu purus, maximus ac nisl eget, rutrum iaculis purus. In a
                    eleifend
                    est. Nullam ac eros enim. Nulla facilisi. Sed condimentum condimentum arcu eu lobortis. Donec in
                    convallis odio.</p>
            </div>
        </div>
        <div class="row justify-content  text-center mt-0 pt-0">
            <div class="pl-s">
                <img src="/images/babiSign.png">
                <p class="_ts2"><span class="orange-title font-weight-bold">BARBARA</span> - <span
                        class="grey-secondary-color">CEO LIFELINK</span></p>
            </div>
        </div>
    </div>
</section>

<section class="bg-white pt-5 pb-5 mb-5" id="timeline-wrapper">
    <div class="container">
        <div class="text-center mb-4">
            <h3 class="blue-title font-weight-bold">Nossa trajetória</h3>
        </div>
        <div class="row">
            <div class="timeline-top mx-auto">
                <div class="top-year">2010</span></div>
            </div>
            <div class="timeline-block">
                <div class="timeline-events">
                    <br>
                    <div class="event red-event-l l-event col-md-6 col-sm-6 col-xs-8 "><span class="thumb "></span>
                        <div class="event-body border">
                            <div class="event-content">
                                <span class="text-muted text-left" style="display:block; margin: 0"><small>JAN
                                        2010</small></span>
                                <h5 class="text-dark _ts3 text-left"><span class="point"></span>Fundação da Lifelink
                                </h5>
                                <p class="text-muted text-left _ts2">Lorem ipsum dolor sit amet,
                                    consectetur adipisicing elit. Quaerat ipsum voluptates sapiente beatae
                                </p>
                            </div>
                        </div> <!-- end of event body -->
                        <div class="clear-fix"></div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="row"></div>
                    <div class="event blue-event-l l-event col-md-6 col-sm-6 col-xs-8 "><span class="thumb"></span>
                        <div class=" event-body border">
                            <div class="event-content">
                                <span class="text-muted text-left" style="display:block; margin: 0"><small>DEZ
                                        2010</small></span>
                                <h5 class="text-dark _ts3 text-left"><span class="point-l-blue"></span>Lorem ipsum dolor
                                    sit
                                    amet</h5>
                                <p class="text-muted text-left _ts2">Lorem ipsum dolor sit amet,
                                    consectetur adipisicing elit. Quaerat ipsum voluptates sapiente beatae
                                    non praesentium vitae dolorum qui, reprehenderit harum
                                </p>
                                <a href="/blog" class="orange-title text-right text-bold pt-3 _ts2">Veja mais em nosso
                                    blog...</a>
                            </div>
                        </div>
                    </div>
                    <div class="row"></div>
                    <div class="event green-event-r r-event col-md-6 col-sm-6 col-xs-8 "><span class="thumb"></span>
                        <div class=" event-body border">
                            <div class="event-content">
                                <span class="text-muted text-left" style="display:block; margin: 0"><small>JUN
                                        2010</small></span>
                                <h5 class="text-dark _ts3 text-left"><span class="point-r-green"></span>Mudança de
                                    escritorio
                                </h5>
                                <p class="text-muted text-left _ts2">Lorem ipsum dolor sit amet,
                                    consectetur adipisicing elit. Quaerat ipsum voluptates sapiente beatae
                                    non praesentium vitae dolorum qui, reprehenderit harum <br>
                                </p>
                                <div class="d-flex images-container">
                                    <img class="img-fluid mr-1" src="/images/trop.jpg">
                                    <img class="img-fluid mr-1" src="/images/trop2.jpg">
                                    <img class="img-fluid mr-1" src="/images/trop3.jpg">
                                </div>
                            </div>
                        </div>
                        <div class="clear-fix"></div>
                    </div>
                    <div class="year-div font-weight-bold">
                        <div class="year2 font-weight-bold">2012</div>
                    </div>
                    <div class="event red-event-l l-event col-md-6 col-sm-6 col-xs-8 "><span class="thumb"></span>
                        <div class=" event-body border">

                            <div class="event-content">
                                <span class="text-muted text-left" style="display:block; margin: 0"><small>MAI
                                        2012</small></span>
                                <h5 class="text-dark _ts3 text-left "><span class="point"></span>Pharetra nisi id ertur
                                </h5>
                                <p class="text-muted text-left  _ts2">Lorem ipsum dolor sit amet,
                                    consectetur adipisicing elit. Quaerat ipsum voluptates sapiente beatae
                                    non praesentium vitae dolorum qui, reprehenderit harum <br>
                                    <a href="/blog" class="orange-title text-right _ts2">Veja mais em nosso
                                        blog...</a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="event green-event-r r-event col-md-6 col-sm-6 col-xs-8 ">
                        <span class="thumb"></span>
                        <div class=" event-body border">
                            <div class="event-content">
                                <span class="text-muted text-left" style="display:block; margin: 0"><small>DEZ
                                        2012</small></span>
                                <h5 class="text-dark _ts3 text-left"><span class="point-r-green"></span> Mattis magna
                                    turpis
                                </h5>
                                <p class="text-muted text-left _ts2">Lorem ipsum dolor sit amet,
                                    consectetur adipisicing elit. Quaerat ipsum voluptates sapiente beatae <br>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="div-year">
                        <div class="year3 font-weight-bold">2017</div>
                    </div>
                    <div class="row"></div>
                    <div class="event blue-event-r r-event col-md-6 col-sm-6 col-xs-8 ">
                        <span class="thumb"></span>
                        <div class=" event-body border">
                            <div class="event-content">
                                <span class="text-muted text-left" style="display:block; margin: 0"><small>DEZ
                                        2017</small></span>
                                <h5 class="text-dark _ts3 text-left"><span class="point-r-blue"></span> Lançamento VIVA
                                </h5>
                                <p class="text-muted text-left _ts2">Lorem ipsum dolor sit amet,
                                    consectetur adipisicing elit.
                                </p>
                                <a class="orange-title text-right _ts2">Veja mais em nosso blog</a>
                            </div>
                        </div>
                    </div>
                    <div class="row"></div>
                    <div class="year-div font-weight-bold">
                        <div class="year2 font-weight-bold">2012</div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="timeline-top mx-auto">
                <div class="top-year">Hoje</span></div>

            </div>
        </div>
    </div>
</section>

<section class="bg-1 container-fluid">
    <div class="container">

        <div class="row">
            <article class="col-md-8 p-5">
                <div class="row">
                    <div class="main-content-article">
                        <div class="article-header pb-4">
                            <h1 class="blue-title font-black-italic font-weight-bold">Nossas conquistas</h1>
                        </div>
                        <div class="article-body text-white text-left max-600">
                            <p class="pb-3 _ts2">Praesent volutpat ut nisl inlit hendrerit. Vestibulum antem ipsum isul
                                primis in faucibus orci luctus et ultrices posible uere cubilia cura
                                emil mil Etiam porttitor, lacus in luctus mun. Praesent volutpat ut nisl inlit
                                hendrerit. Vestibulum antem ipsumisul primis in faucibus orci luctus et ul
                                trices posible uere cubilia cura emil mil Etiam porttitor, lacus in luctus mun.
                            </p>
                            <p class="pb-4 _ts2">
                                Praesent volutpat ut nisl inlit hendrerit. Vestibulum antem ipsumisul primis
                                in faucibus orci luctus et ultrices posible uere cubilia cura emil mil Etiam
                                porttitor, lacus in luctus mun.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 p-0">
                        <h1 class="text-yellow-dark _ts9">126</h1>
                        <p class="text-black _ts2">Projetos</p>
                    </div>
                    <div class="col-md-3 p-0">
                        <h1 class="text-yellow-dark _ts9">105</h1>
                        <p class="text-black _ts2">Clientes monitorados</p>
                    </div>

                    <div class="col-md-3 p-0">
                        <h1 class="text-yellow-dark _ts9">19</h1>
                        <p class="text-black _ts2">Empresas Clientes</p>
                    </div>

                    <div class="col-md-3 p-0">
                        <h1 class="text-yellow-dark _ts9">7</h1>
                        <p class="text-black _ts2">Estados presentes</p>
                    </div>
                </div>
            </article>
            <aside class="col-md-4 pl-4">
                <div class="year-of-xp bg-yellow blue-title">
                    <div class="year-of-xp-title">
                        <h1 class="big-number">14</h1>
                    </div>
                    <div class="year-of-xp-footer">
                        <p class="_ts2 m-0">ANOS DE EXPERIÊNCIA</p>
                        <p class="_ts2 m-0">EM MONITORAMENTO</p>
                    </div>
                </div>
            </aside>

        </div>
    </div>
    </div>
</section>

<section class="container-fluid mt-5 mb-5">
    <div class="container" id="knowLifelink">
        <div class="row">
            <div class="col-md-8">
                <h2 class="font-weight-bold pb-3">Conheça a<br> Equipe LifeLink</h2>
                <p class="text-dark pb-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent sit amet
                    lacus
                    malesuada, imperdiet
                    augue a, egestas lorem. Donec semper eleifend nunc id aliquam. Nam scelerisque lorem et nunc
                    consectetur suscipit. Pellentesque mattis, justo ac ullamcorper dictum, massa dui iaculis lorem, a
                    tincidunt ipsum dolor ut nunc. Cras consequat nunc vel elit ultrices aliquam. Maecenas dignissim,
                    ligula id luctus porttitor, lacus mauris tempor ex, in porta nunc turpis ut massa.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">

                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="row">
                                <div class="col-md-6 col6Padding ">
                                    <div class="imgWrapper">
                                        <div class="img-container">

                                            <img class="img-fluid imgMr" src="/images/hugoProfilePic.png"
                                                alt="Foto Hugo Oliveira, Lifelink">

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 pt-4">
                                    <h2>Barbara<br>
                                    </h2>

                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent sit amet lacus
                                        malesuada,
                                        imperdiet
                                        augue a, egestas lorem.
                                    </p>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent sit amet lacus
                                        malesuada,
                                        imperdiet
                                        augue a, egestas lorem. Donec semper eleifend nunc id aliquam. Nam scelerisque
                                        lorem et nunc
                                        consectetur suscipit.
                                    </p>
                                    <p>ATUAÇÃO</p>
                                    <p class="pb-3">Eiusmod numquam</p>
                                    <p>CONTATO</p>
                                    <p>@hugoliveira</p>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="carousel-item ">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="imgWrapper">
                                    <img class="img-fluid imgMr" src="/images/hugoProfilePic.png" alt="Foto Hugo Oliveira, Lifelink"> 
                                </div>
                            </div>
                            <div class="col-md-6 pt-4">
                                <h2>Hugo<br>
                                    Oliveira</h2>
        
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent sit amet lacus malesuada,
                                    imperdiet
                                    augue a, egestas lorem.
                                </p>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent sit amet lacus malesuada,
                                    imperdiet
                                    augue a, egestas lorem. Donec semper eleifend nunc id aliquam. Nam scelerisque lorem et nunc
                                    consectetur suscipit.
                                </p>
                                <p>Atuação</p>
                                <p></p>
                                <p>CONTATO</p>
                                <p>@hugoliveira</p>
                            </div>
                        </div>
                      </div>
                      <div class="carousel-item ">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="imgWrapper">
                                    <img class="img-fluid imgMr" src="/images/hugoProfilePic.png" alt="Foto Hugo Oliveira, Lifelink"> 
                                </div>
                            </div>
                            <div class="col-md-6 pt-4">
                                <h2>Barbara<br>
                                    </h2>
        
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent sit amet lacus malesuada,
                                    imperdiet
                                    augue a, egestas lorem.
                                </p>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent sit amet lacus malesuada,
                                    imperdiet
                                    augue a, egestas lorem. Donec semper eleifend nunc id aliquam. Nam scelerisque lorem et nunc
                                    consectetur suscipit.
                                </p>
                                <p>Atuação</p>
                                <p></p>
                                <p>CONTATO</p>
                                <p>@hugoliveira</p>
                            </div>
                        </div>
                      </div>
                      <div class="carousel-item ">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="imgWrapper">
                                    <img class="img-fluid imgMr" src="/images/hugoProfilePic.png" alt="Foto Hugo Oliveira, Lifelink"> 
                                </div>
                            </div>
                            <div class="col-md-6 pt-4">
                                <h2>Barbara<br>
                                    </h2>
        
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent sit amet lacus malesuada,
                                    imperdiet
                                    augue a, egestas lorem.
                                </p>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent sit amet lacus malesuada,
                                    imperdiet
                                    augue a, egestas lorem. Donec semper eleifend nunc id aliquam. Nam scelerisque lorem et nunc
                                    consectetur suscipit.
                                </p>
                                <p>Atuação</p>
                                <p></p>
                                <p>CONTATO</p>
                                <p>@hugoliveira</p>
                            </div>
                        </div>
                      </div> -->
                    </div>
                    <ol class="carrousel-indicators-default mt-3">
                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                    </ol>
                </div>
            </div>
            <div class="col-md-3">
                <div class="carousel-control-next no-opacity pb-5 w-35 d-flex justify-content-end flex-column"
                    id="carousel-control-nextProfile" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <img class="profilePreviewControlNext" src="/images/smallProfileImgCat.png">
                    <div class="d-flex justify-content-center align-items-center retangle-size p-0 m-0 bg-1">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

<%- include('templates/footer.ejs'); %>