<%- include('templates/header.ejs'); %>
<section class="container-fluid bg-2">
    <div class="container top-container pb-5 ">
        <h1 class="blue-title font-weight-bold _ts9 font-italic budgets-title">Conheça nossa história</h1>
        <div class="row mt-5 pt-5 row-mb">
            <div class="col-md-3">
                <h2 class="font-weight-bold">O jeito Lifelink</h2>
                <div class="border-the-lifelink-way"></div>
            </div>
            <div class="col-md-9">
                <p class="_ts2">"Nós temos a oportunidade de ajudar as pessoas quando elas precisam. É uma honra e uma
                    grande responsabilidade. Nosso time entende isso. Ponta a ponta. Nossos operadores atuam na
                    velocidade da luz, nossa tecnologia está sempre em seu melhor estado e nossos processos atualizados
                    às melhores práticas. Assim, sempre que um novo desafio surge, nosso time está pronto. Esse é o
                    jeito da LifeLink. Sempre a postos, atentos e prontos para tomar uma ação ágil e segura."</p>
            </div>
        </div>
        <div class="row justify-content  text-center mt-0 pt-0">
            <div class="pl-s">
                <img src="/images/babiSign.png">
                <p class="_ts2"><span class="orange-title font-weight-bold">BARBARA FEROLLA</span> - <span
                        class="grey-secondary-color">CEO LIFELINK</span></p>
            </div>
        </div>
    </div>
</section>

<section class="bg-white pt-5 pb-5 mb-5" id="timeline-wrapper">
    <div class="container">
        <div class="text-center mb-4">
            <h3 class="blue-title font-weight-bold">Nossa trajetória</h3>
        </div>
        <div class="row">
            <div class="timeline-top mx-auto">
                <div class="top-year">2002</span></div>
            </div>
            <div class="timeline-block">
                <div class="timeline-events">
                    <br>
                    <div class="event red-event-l l-event col-md-6 col-sm-6 col-xs-8 "><span class="thumb "></span>
                        <div class="event-body border">
                            <div class="event-content">
                                <span class="text-muted text-left" style="display:block; margin: 0"><small>OUT
                                        2002</small></span>
                                <h5 class="text-dark _ts3 text-left"><span class="point"></span>Fundação da Lifelink
                                </h5>
                                <p class="text-muted text-left _ts2">Originalmente fundada como LPC Sistemas, a LifeLink
                                    é a primeira empresa brasileira de monitoramento de emergência pessoal.
                                </p>
                            </div>
                        </div> <!-- end of event body -->
                        <div class="clear-fix"></div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="row"></div>
                    <div class="event blue-event-l l-event col-md-6 col-sm-6 col-xs-8 "><span class="thumb"></span>
                        <div class=" event-body border">
                            <div class="event-content">
                                <span class="text-muted text-left" style="display:block; margin: 0"><small>OUT
                                        2003</small></span>
                                <h5 class="text-dark _ts3 text-left"><span class="point-l-blue"></span>Nova Marca</h5>
                                <p class="text-muted text-left _ts2">Nossa Central passa a receber oficialmente o nome
                                    de LifeLink Monitoramento Pessoal.
                                </p>
                                <!-- <a href="/blog" class="orange-title text-right text-bold pt-3 _ts2">Veja mais em nosso
                                    blog...</a> -->
                            </div>
                        </div>
                    </div>
                    <div class="row"></div>
                    <div class="event green-event-r r-event col-md-6 col-sm-6 col-xs-8 "><span class="thumb"></span>
                        <div class=" event-body border">
                            <div class="event-content">
                                <span class="text-muted text-left" style="display:block; margin: 0"><small>MAR
                                        2009</small></span>
                                <h5 class="text-dark _ts3 text-left"><span class="point-r-green"></span>Expandindo a
                                    Teleassistência
                                </h5>
                                <p class="text-muted text-left _ts2">O time da LifeLink passa a monitorar não somente
                                    idosos mas também trabalhadores solitários<br>
                                </p>
                            </div>
                        </div>
                        <div class="clear-fix"></div>
                    </div>
                    <div class="year-div font-weight-bold">
                        <div class="year2 font-weight-bold">2013</div>
                    </div>
                    <div class="event red-event-l l-event col-md-6 col-sm-6 col-xs-8 "><span class="thumb"></span>
                        <div class=" event-body border">

                            <div class="event-content">
                                <span class="text-muted text-left" style="display:block; margin: 0"><small>JAN
                                        2013</small></span>
                                <h5 class="text-dark _ts3 text-left "><span class="point"></span>Ultrapassando as
                                    barreiras geográficas
                                </h5>
                                <p class="text-muted text-left  _ts2">A lista de equipamentos monitorados pela nossa
                                    Central se expande e passamos a ajudar a todos independente de onde estiverem -
                                    áreas remotas, residenciais ou urbanas. <br>
                                    <!-- <a href="/blog" class="orange-title text-right _ts2">Veja mais em nosso
                                        blog...</a> -->
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="event green-event-r r-event col-md-6 col-sm-6 col-xs-8 ">
                        <span class="thumb"></span>
                        <div class=" event-body border">
                            <div class="event-content">
                                <span class="text-muted text-left" style="display:block; margin: 0"><small>OUT
                                        2014</small></span>
                                <h5 class="text-dark _ts3 text-left"><span class="point-r-green"></span> Tecnologia
                                    Própria

                                </h5>
                                <p class="text-muted text-left _ts2">Com o desenvolvimento do wearable para
                                    monitoramento de sinais vitais, o time cresce e a startup Athene Technologies é
                                    fundada como spin off da LifeLink <br>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="div-year">
                        <div class="year3 font-weight-bold">2018</div>
                    </div>
                    <div class="row"></div>
                    <div class="event blue-event-r r-event col-md-6 col-sm-6 col-xs-8 ">
                        <span class="thumb"></span>
                        <div class=" event-body border">
                            <div class="event-content">
                                <span class="text-muted text-left" style="display:block; margin: 0"><small>ABR
                                        2018</small></span>
                                <h5 class="text-dark _ts3 text-left"><span class="point-r-blue"></span>Nova sede
                                </h5>
                                <p class="text-muted text-left _ts2">Para melhor acomodar um time em constante
                                    crescimento, deixamos a sede que nos acolheu por tantos anos para continuar nossa
                                    história em uma nova casa.
                                </p>
                                <div class="d-flex images-container">
                                    <img class="img-fluid mr-1" src="/images/trop.jpg">
                                    <img class="img-fluid mr-1" src="/images/trop2.jpg">
                                    <img class="img-fluid mr-1" src="/images/trop3.jpg">
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="event red-event-l l-event col-md-6 col-sm-6 col-xs-8 "><span class="thumb"></span>
                        <div class=" event-body border">

                            <div class="event-content">
                                <span class="text-muted text-left" style="display:block; margin: 0"><small>NOV
                                        2019</small></span>
                                <h5 class="text-dark _ts3 text-left "><span class="point"> </span>Nova Marca
                                </h5>
                                <p class="text-muted text-left  _ts2">A marca VIVA é criada para melhor conversar com o
                                    público que alavancou a história da LifeLink, os idosos. É a criação do primeiro
                                    dealer do grupo. <br>
                                    <!-- <a href="/blog" class="orange-title text-right _ts2">Veja mais em nosso
                                        blog...</a> -->
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="event red-event-l l-event col-md-6 col-sm-6 col-xs-8 "><span class="thumb"></span>
                        <div class=" event-body border">

                            <div class="event-content">
                                <span class="text-muted text-left" style="display:block; margin: 0"><small>NOV
                                        2019</small></span>
                                <h5 class="text-dark _ts3 text-left "><span class="point"> </span>Remodelando o negócio
                                </h5>
                                <p class="text-muted text-left  _ts2">Com o intuito de ajudar um número ainda maior de
                                    pessoas, a LifeLink abre a sua Central para terceiros possibilitando que outros
                                    empreendedores conquistem espaços no mercado de teleassistência sem preocupar com a
                                    infra-estrutura necessária.<br>
                                    <!-- <a href="/blog" class="orange-title text-right _ts2">Veja mais em nosso
                                        blog...</a> -->
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="row"></div>
                    <div class="year-div font-weight-bold">
                        <div class="year2 font-weight-bold"></div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="timeline-top mx-auto">
                <div class="top-year">Hoje</span></div>

            </div>
        </div>
    </div>
</section>
<%- include('templates/archieves.ejs'); %>


<section class="container-fluid mt-5 mb-5">
    <div class="container" id="knowLifelink">
        <div class="row">
            <div class="col-md-8">
                <h2 class="font-weight-bold pb-3">Conheça a<br> Equipe LifeLink</h2>
                <p class="text-dark pb-3">Nós adoramos trabalhar juntos para fazer do seu negócio um sucesso. Pesquise
                    abaixo para conhecer a equipe com quem você irá trabalhar. </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <div id="carouselExampleIndicators" data-interval="false" class="carousel slide" data-ride="carousel">

                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="row">
                                <div class="col-md-6 col6Padding ">
                                    <div class="imgWrapper">
                                        <div class="img-container">

                                            <img class="img-fluid imgMr" src="/images/barbara.jpg"
                                                alt="Foto Hugo Oliveira, Lifelink">

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 pt-4">
                                    <h2>Bárbara Ferolla<br>
                                    </h2>

                                    <p>Como nossa CEO há 08 anos, Barbara lidera a Lifelink em uma trajetória de
                                        constante inovação tecnológica e de negócios que nos permite entregar excelência
                                        em monitoramento de emergência e de eventos críticos a todos que buscam
                                        atendimento ágil e eficaz quando mais é necessário.
                                    </p>

                                    <a class="orange-title mb-3"
                                        href="https://www.linkedin.com/in/barbara-ferolla-spyer-prates-91801331/">Linkedin</a>
                                    <p>ATUAÇÃO</p>
                                    <p class="pb-2">CEO</p>
                                    <p>CONTATO</p>
                                    <p>barbara@lifelink.com.br</p>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item ">
                            <div class="row">
                                <div class="col-md-6 col6Padding ">
                                    <div class="imgWrapper">
                                        <div class="img-container">

                                            <img class="img-fluid imgMr" src="/images/hiram.jpg"
                                                alt="Foto Hugo Oliveira, Lifelink">

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 pt-4">
                                    <h2>Hiram Reis<br>
                                    </h2>
                                    <p>Com 08 anos de experiência em desenvolvimento de sistemas embarcados em grandes
                                        empresas do setor automotivo e agrícola, e há mais de um ano na LIFELINK, Hiram
                                        é hoje responsável pela constante busca e implementação de tecnologias
                                        inovadoras que nos permitem salvar vidas.
                                    </p>

                                    <a class="orange-title mb-3"
                                        href="https://www.linkedin.com/in/hiram-reis-neto-076735bb/">Linkedin</a>
                                    <p>ATUAÇÃO</p>
                                    <p class="pb-2">CTO</p>
                                    <p>CONTATO</p>
                                    <p>hiram@lifelink.com.br</p>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item ">
                            <div class="row">
                                <div class="col-md-6 col6Padding ">
                                    <div class="imgWrapper">
                                        <div class="img-container">

                                            <img class="img-fluid imgMr" src="/images/elisangela.jpg"
                                                alt="Foto Hugo Oliveira, Lifelink">

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 pt-4">
                                    <h2>Elisangela Melo<br>
                                    </h2>

                                    <p>Engenheira eletrônica e de telecomunicações, Elisangela sabe tudo o que envolve
                                        monitoramento de emergências. Há 06 anos na empresa, após larga experiência em
                                        equipamentos médicos, lidera a principal atividade da empresa: o monitoramento.
                                        Sob sua tutela, os seus clientes são atendidos de forma ágil e eficaz.
                                    </p>

                                    <a class="orange-title mb-3"
                                        href="https://www.linkedin.com/in/elisangelam">Linkedin</a>
                                    <p>ATUAÇÃO</p>
                                    <p class="pb-2">Operação e Tecnologia</p>
                                    <p>CONTATO</p>
                                    <p>elisangela@lifelink.com.br</p>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item ">
                            <div class="row">
                                <div class="col-md-6 col6Padding ">
                                    <div class="imgWrapper">
                                        <div class="img-container">

                                            <img class="img-fluid imgMr" src="/images/Hugo.jpg"
                                                alt="Foto Hugo Oliveira, Lifelink">

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 pt-4">
                                    <h2>Hugo Oliveira<br>
                                    </h2>

                                    <p>Há mais de 06 anos na LIFELINK, Hugo está envolvido pessoalmente em todos os
                                        aspectos da tecnologia hoje implementada em nosso sistema de monitoramento. De
                                        estagiário à liderança técnica, não há pessoa mais capacitada para orientar,
                                        analisar e implementar tecnologia para monitoramento de eventos críticos em
                                        tempo real.
                                    </p>

                                    <a class="orange-title mb-3"
                                        href="https://www.linkedin.com/in/hugo-ribeiro-oliveira-3a271693/">Linkedin</a>
                                    <p>ATUAÇÃO</p>
                                    <p class="pb-2">Operação e Tecnologia</p>
                                    <p>CONTATO</p>
                                    <p>hugo.oliveira@lifelink.com.br</p>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item ">
                            <div class="row">
                                <div class="col-md-6 col6Padding ">
                                    <div class="imgWrapper">
                                        <div class="img-container">

                                            <img class="img-fluid imgMr" src="/images/catarina.jpg"
                                                alt="Foto Hugo Oliveira, Lifelink">

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 pt-4">
                                    <h2>Catarina Ferolla<br>
                                    </h2>

                                    <p>Somos uma Central de Monitoramento que prioriza os relacionamentos. A Catarina
                                        coordena o setor de Sucesso do Cliente há mais de um ano com o objetivo de
                                        facilitar o diálogo entre usuários, dealers e toda nossa equipe. Temos assim,
                                        com um contato frequente, relações fortalecidas e soluções mais personalizadas.
                                    </p>
                                    <p>ATUAÇÃO</p>
                                    <p class="pb-2">Sucesso do Cliente</p>
                                    <p>CONTATO</p>
                                    <p>catarina@lifelink.com.br</p>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item ">
                            <div class="row">
                                <div class="col-md-6 col6Padding ">
                                    <div class="imgWrapper">
                                        <div class="img-container">

                                            <img class="img-fluid imgMr" src="/images/barbara.jpg"
                                                alt="Foto Thigo, Lifelink">

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 pt-4">
                                    <h2>Thiago Santos<br>
                                    </h2>

                                    <p>Responsável não somente pelo setor comercial da LIFELINK, Thiago e sua equipe
                                        estão sempre a disposição para ajudar a fazer do seu negócio um sucesso. Há mais
                                        de dois anos à frente do setor, levará a você as ferramentas necessárias para um
                                        marketing e um plano de vendas específico para o mercado de teleassistência.
                                    </p>

                                
                                    <p>ATUAÇÃO</p>
                                    <p class="pb-2">Marketing e Vendas</p>
                                    <p>CONTATO</p>
                                    <p>thiago@lifelink.com.br</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <ol class="carrousel-indicators-default mt-3">
                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                    </ol>
                </div>
            </div>
            <div class="col-md-3">
                <div class="carousel-control-next no-opacity pb-5 w-35 d-flex justify-content-end flex-column"
                    id="carousel-control-nextProfile" ng-click="setNextImage()" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <img class="profilePreviewControlNext" ng-src="{{ urlSlidePic[contador]}}">
                    <div class="d-flex justify-content-center align-items-center retangle-size p-0 m-0 bg-1">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

<%- include('templates/footer.ejs'); %>