<%- include('templates/header.ejs'); %>
<div class="container-fluid bg-2">
    <div class="container top-container pb-5 mb-5">
        <h1 class="blue-title font-weight-bold _ts9 font-italic budgets-title">Conheça nossa história</h1>
        <div class="row mt-5 pt-5">
            <div class="col-md-3">
                <h2 class="font-weight-bold">O jeito Lifelink</h2>
                <div class="border-the-lifelink-way"></div>
            </div>
            <div class="col-md-9">
                <p>Nunc ac ante nunc. Maecenas arcu purus, maximus ac nisl eget, rutrum iaculis purus. In a eleifend
                    est. Nullam ac eros enim. Nulla facilisi. Sed condimentum condimentum arcu eu lobortis. Donec in
                    tortor, fringilla varius justo feugiat id</p>
                <p>Nunc ac ante nunc. Maecenas arcu purus, maximus ac nisl eget, rutrum iaculis purus. In a eleifend
                    est. Nullam ac eros enim. Nulla facilisi. Sed condimentum condimentum arcu eu lobortis. Donec in
                    convallis odio.</p>
            </div>
        </div>
        <div class="row justify-content  text-center mt-0 pt-0">
            <div class="pl-s">
                <img src="/images/babiSign.png">
                <p class="pl-x"><span class="orange-title font-weight-bold">BARBARA</span> - <span
                        class="grey-secondary-color">CEO LIFELINK</span></p>
            </div>
        </div>
    </div>
</div>

<header>
    <div class="container">
    </div>
</header><br><br>
<section id="timeline-wrapper">
    <div class="container">
        <div class="row">
            <div class="timeline-top mx-auto">
                <div class="top-year">2018</span></div>

            </div>
            <div class="timeline-block">
                <div class="timeline-events">
                    <br>
                    <div class="event l-event col-md-6 col-sm-6 col-xs-8 "><span class="thumb fa fa-codepen"></span>
                        <div class=" event-body">
                            <div class="person-image pull-left "><img
                                    src="https://cdn1.iconfinder.com/data/icons/user-pictures/100/male3-512.png"
                                    alt="person" /></div>
                            <div class="event-content">
                                <h5 class="text-primary text-left">IT-PLUS programming solution </h5>
                                <span class="text-muted text-left" style="display:block; margin: 0"><small>19 October
                                        2016</small></span>
                                <br><br>
                                <blockquote class="text-muted text-left">Lorem ipsum dolor sit amet,
                                    consectetur adipisicing elit. Quaerat ipsum voluptates sapiente beatae
                                    non praesentium vitae dolorum qui, reprehenderit harum <br>
                                    <cite class="text-muted text-right text-bold">- Alex Martin</cite>
                                </blockquote>

                            </div>
                        </div> <!-- end of event body -->
                        <div class="clear-fix"></div>
                    </div><!-- end of left event -->
                    <div class="row"></div>
                    <div class="event r-event col-md-6 col-sm-6 col-xs-8 "><span class="thumb fa fa-facebook"></span>
                        <div class=" event-body">
                            <div class="person-image pull-left "><img
                                    src="https://cdn1.iconfinder.com/data/icons/user-pictures/100/male3-512.png"
                                    alt="person" /></div>
                            <div class="event-content">
                                <h5 class="text-primary text-left">IT-PLUS programming solution </h5>
                                <span class="text-muted text-left" style="display:block; margin: 0"><small>19 October
                                        2016</small></span>
                                <br><br>
                                <blockquote class="text-muted text-left">Lorem ipsum dolor sit amet,
                                    consectetur adipisicing elit. Quaerat ipsum voluptates sapiente beatae
                                    non praesentium vitae dolorum qui, reprehenderit harum <br>
                                    <cite class="text-muted text-right text-bold">- Alex Martin</cite>
                                </blockquote>

                            </div>
                        </div>
                    </div><!-- end of right event <-->
                    <div class="clearfix"></div>
                    </-->
                    <div class="row"></div>
                    <div class="event l-event col-md-6 col-sm-6 col-xs-8 "><span class="thumb fa fa-twitter"></span>
                        <div class=" event-body">
                            <div class="person-image pull-left "><img
                                    src="https://cdn1.iconfinder.com/data/icons/user-pictures/100/male3-512.png"
                                    alt="person" /></div>
                            <div class="event-content">
                                <h5 class="text-primary text-left">IT-PLUS programming solution </h5>
                                <span class="text-muted text-left" style="display:block; margin: 0"><small>19 October
                                        2016</small></span>
                                <br><br>
                                <blockquote class="text-muted text-left">Lorem ipsum dolor sit amet,
                                    consectetur adipisicing elit. Quaerat ipsum voluptates sapiente beatae
                                    non praesentium vitae dolorum qui, reprehenderit harum <br>
                                    <cite class="text-muted text-right text-bold">- Alex Martin</cite>
                                </blockquote>
                            </div>
                        </div>
                    </div><!-- end of left event <-->
                    <div class="clearfix"></div>

                    <div class="row"></div>
                    <div class="event r-event col-md-6 col-sm-6 col-xs-8 ">
                        <span class="thumb fa fa-codepen"></span>
                        <div class=" event-body">
                            <div class="person-image pull-left "><img
                                    src="https://cdn1.iconfinder.com/data/icons/user-pictures/100/male3-512.png"
                                    alt="person" /></div>
                            <div class="event-content">
                                <h5 class="text-primary text-left">IT-PLUS programming solution </h5>
                                <span class="text-muted text-left" style="display:block; margin: 0"><small>19 October
                                        2016</small></span>
                                <br><br>
                                <blockquote class="text-muted text-left">Lorem ipsum dolor sit amet,
                                    consectetur adipisicing elit. Quaerat ipsum voluptates sapiente beatae
                                    non praesentium vitae dolorum qui, reprehenderit harum <br>
                                    <cite class="text-muted text-right text-bold">- Alex Martin</cite>
                                </blockquote>
                            </div>
                        </div>
                    </div><!-- end of right event <-->
                    <div class="clearfix"></div>
                    </-->
                </div><!-- end of timeline events -->
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</section>
<br />
<hr />
<footer class="text-center">
    <div class="social">
        Follow Me:
        <a target="_blank" href="https://codepen.io/hosamsam/">
            <abbr title="Codepen"><i class="fa fa-codepen follow"></i></abbr>
        </a>


        <a href="https://github.com/hosam1696"><abbr title="Github" target="_blank"><i
                    class="fa fa-github "></i></abbr></a>
    </div>
</footer>


<%- include('templates/footer.ejs'); %>