<%- include('templates/header.ejs'); %>
<div class="container-fluid bg-2">
    <div class="container top-container pb-5 mb-5">
        <h1 class="blue-title font-weight-bold _ts9 font-italic budgets-title">Conheça nossa história</h1>
        <div class="row mt-5 pt-5">
            <div class="col-md-3">
                <h2 class="font-weight-bold">O jeito Lifelink</h2>
                <div class="border-the-lifelink-way"></div>
            </div>
            <div class="col-md-9">
                <p>Nunc ac ante nunc. Maecenas arcu purus, maximus ac nisl eget, rutrum iaculis purus. In a eleifend
                    est. Nullam ac eros enim. Nulla facilisi. Sed condimentum condimentum arcu eu lobortis. Donec in
                    tortor, fringilla varius justo feugiat id</p>
                <p>Nunc ac ante nunc. Maecenas arcu purus, maximus ac nisl eget, rutrum iaculis purus. In a eleifend
                    est. Nullam ac eros enim. Nulla facilisi. Sed condimentum condimentum arcu eu lobortis. Donec in
                    convallis odio.</p>
            </div>
        </div>
        <div class="row justify-content  text-center mt-0 pt-0">
            <div class="pl-s">
                <img src="/images/babiSign.png">
                <p class=""><span class="orange-title font-weight-bold">BARBARA</span> - <span
                        class="grey-secondary-color">CEO LIFELINK</span></p>
            </div>
        </div>
    </div>
</div>
<section class="bg-white pt-5 pb-5" id="timeline-wrapper">
    <div class="container">
        <div class="row">
            <div class="timeline-top mx-auto">
                <div class="top-year">2010</span></div>

            </div>
            <div class="timeline-block">
                <div class="timeline-events">
                    <br>

                    <div class="event l-event col-md-6 col-sm-6 col-xs-8 "><span class="thumb "></span>
                        <div class="event-body border">
                            <div class="event-content">
                                <span class="text-muted text-left" style="display:block; margin: 0"><small>JAN
                                        2010</small></span>
                                <h5 class="text-dark text-left"><span class="point"></span>Fundação da Lifelink</h5>
                                <p class="text-muted text-left">Lorem ipsum dolor sit amet,
                                    consectetur adipisicing elit. Quaerat ipsum voluptates sapiente beatae
                                </p>
                            </div>
                        </div> <!-- end of event body -->
                        <div class="clear-fix"></div>
                    </div>

                    <div class="row"></div>
                    <div class="event r-event col-md-6 col-sm-6 col-xs-8 "><span class="thumb"></span>
                        <div class=" event-body border">
                            <div class="event-content">
                                <span class="text-muted text-left" style="display:block; margin: 0"><small>JUN
                                        2010</small></span>
                                <h5 class="text-dark text-left"><span class="point-r"></span>Mudança de escritorio</h5>
                                <p class="text-muted text-left">Lorem ipsum dolor sit amet,
                                    consectetur adipisicing elit. Quaerat ipsum voluptates sapiente beatae
                                    non praesentium vitae dolorum qui, reprehenderit harum <br>
                                </p>
                                <div class="d-flex images-container">
                                    <img class="img-fluid mr-1" src="/images/trop.jpg">
                                    <img class="img-fluid mr-1" src="/images/trop2.jpg">
                                    <img class="img-fluid mr-1" src="/images/trop3.jpg">
                                </div>
                            </div>
                        </div>
                        <div class="clear-fix"></div>
                    </div>

                    <div class="row"></div>
                    <div class="event l-event col-md-6 col-sm-6 col-xs-8 "><span class="thumb"></span>
                        <div class=" event-body border">

                            <div class="event-content">
                                <span class="text-muted text-left" style="display:block; margin: 0"><small>MAI
                                        2012</small></span>
                                <h5 class="text-dark text-left"><span class="point"></span>Pharetra nisi id ertur</h5>
                                <p class="text-muted text-left">Lorem ipsum dolor sit amet,
                                    consectetur adipisicing elit. Quaerat ipsum voluptates sapiente beatae
                                    non praesentium vitae dolorum qui, reprehenderit harum <br>
                                    <a href="/blog" class="text-muted text-right text-bold">Veja mais em nosso
                                        blog...</a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="year-div font-weight-bold">
                        <div class="year2 font-weight-bold">2012</div>
                    </div>
                    <div class="clearfix"></div>

                    <div class="row"></div>
                    <div class="event r-event col-md-6 col-sm-6 col-xs-8 ">
                        <span class="thumb"></span>
                        <div class=" event-body border">

                            <div class="event-content">
                                <h5 class="text-dark text-left">IT-PLUS programming solution </h5>
                                <span class="text-muted text-left" style="display:block; margin: 0"><small>19 October
                                        2016</small></span>
                                <br><br>
                                <blockquote class="text-muted text-left">Lorem ipsum dolor sit amet,
                                    consectetur adipisicing elit. Quaerat ipsum voluptates sapiente beatae
                                    non praesentium vitae dolorum qui, reprehenderit harum <br>
                                    <cite class="text-muted text-right text-bold">- Alex Martin</cite>
                                </blockquote>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>

                </div>
                <div class="clearfix"></div>
            </div>
            <div class="timeline-top mx-auto">
                <div class="top-year">Hoje</span></div>

            </div>
        </div>
    </div>
</section>


<section class="bg-1 container-fluid">
    <div class="container">
        <div class="row">
            <article class="col-md-6">
                    <h1>Nossas conquistas</h1>
                    <p>Lorem ipsum dolet, Lorem ipsum doletLorem ipsum doletLorem ipsum doletLorem ipsum dolet
                        Lorem ipsum doletLorem ipsum doletLorem ipsum doletLorem ipsum doletLorem ipsum doletLorem ipsum
                        dolet
                        Lorem ipsum doletLorem ipsum doletLorem ipsum doletLorem ipsum dolet,Lorem ipsum dolet.

                        Lorem ipsum doletLorem ipsum doletLorem ipsum doletLorem ipsum doletLorem ipsum dolet.
                        Lorem ipsum doletLorem ipsum doletLorem ipsum doletLorem ipsum doletLorem ipsum doletLorem ipsum
                        dolet,Lorem ipsum dolet
                        Lorem ipsum dolet, Lorem ipsum doletLorem ipsum doletLorem ipsum dolet.
                    </p>
                    <h1 class="m-0">Nossas conquistas</h1>
            </article>
        </div>
        <div class="row">
                <article class="col-md-6">
                    <div class="row">
                    <div class="col-md-2">
                        <h1>126</h1>
                        <p>Projetos</p>
                    </div>

                    <div class="col-md-2">
                        <h1>105</h1>
                        <p>Clientes monitorados</p>
                    </div>

                    <div class="col-md-2">
                        <h1>19</h1>
                        <p>Empresas Clientes</p>
                    </div>

                    <div class="col-md-2">
                        <h1>7</h1>
                        <p>Estados presentes</p>
                    </div>
                </div>
                </article>
        </div>

            <aside class="col-md-6">
                <div class="year-of-xp">
                    <h1>14</h1>
                    <p>Anos de experiências</p>
                </div>
            </aside>
        </div>
    </div>
</section>



<%- include('templates/footer.ejs'); %>