<%- include('templates/header.ejs'); %>
<div class="container-fluid bg-2">
    <div class="container top-container">
        <h1 class="blue-title font-weight-bold _ts9 font-italic budgets-title">Conheça nossa história</h1>
        <div class="row">
            <div class="col-md-6">
                <h2>O jeito lifelink</h2>
            </div>
            <div class="col-md-6">

            </div>
        </div>
    </div>
</div>
<%- include('templates/footer.ejs'); %>