<%- include('templates/header.ejs'); %>

<!-- Nossos valores -->
<div class="container-fluid">
    <div class="container pl-6">
        <h1 class="orange-title font-weight-bold _ts9 font-italic budgets-title">Nossos valores</h1>
        <div id="" class="">
            <p class="mx-950 grey-secondary-text">Class aptent taciti sociosqu ad litora torquent per conubia nostra,
                interdum urna. Nam ac elit a ante commodo tristique. Duis lacus urna, condimentum a vehicula hendrerit
                ac nisiendrerit ac nisi Lorem ipsum dolor sit amet. Tristique. Duis lacus urna, condimentum a vehicula
                a, hendrerit ac nisi Lorem ipsum dolor sit.</p>
            <p class="mx-950 grey-secondary-text">Class aptent taciti sociosqu ad litora torquent per conubia nostra,
                interdum urna. Nam ac elit a ante commodo tristique. Duis lacus urna, condimentum a vehicula hendrerit
                ac nisi</p>
            <p class="mx-950 grey-secondary-text">Hendrerit ac nisi Lorem ipsum dolor sit amet. Tristique. Duis lacus
                urna, condimentum a vehicula a, hendrerit ac nisi Lorem ipsum dolor sit.</p>
        </div>
    </div>
</div>
<div class="container">

    <div class="row pt-4">
        <div class="col-md-2 pl-0">
            <button class="btn btn-dark btn-budgets p-2 mt-3 letter-spacing-b w-100">Serviço</button>
        </div>

        <div class="col-md-2 ">
            <button class="btn btn-dark btn-budgets p-2 mt-3 letter-spacing-b w-100">Serviço</button>
        </div>

        <div class="col-md-2 ">
            <button class="btn btn-dark btn-budgets p-2 mt-3 letter-spacing-b w-100">Serviço</button>
        </div>

        <div class="col-md-2 ">
            <button class="btn btn-dark btn-budgets p-2 mt-3 letter-spacing-b w-100">Serviço</button>
        </div>

        <div class="col-md-2 ">
            <button class="btn btn-dark btn-budgets p-2 mt-3 letter-spacing-b w-100">Serviço</button>
        </div>

        <div class="col-md-2 ">
            <button class="btn btn-dark btn-budgets p-2 mt-3 letter-spacing-b w-100">Serviço</button>
        </div>
    </div>
    <div class="row pt-5">
        <div class="col-md-8">
            <form>
                <div class="row pb-4">
                    <div class="col-md-2 p-0">
                        <label>Variavel 01</label>
                    </div>
                    <div class="col-md-10">
                        <input class="w-100" type="range">
                    </div>
                </div>
                <div class="row pb-4">
                    <div class="col-md-2 p-0">
                        <label>Variavel 02</label>
                    </div>
                    <div class="col-md-10">
                        <input class="w-100" type="range">
                    </div>
                </div>
                <div class="row pb-4">
                    <div class="col-md-2 p-0">
                        <label>Variavel 03</label>
                    </div>
                    <div class="col-md-10">
                        <input class="w-100" type="range">
                    </div>
                </div>
            </form>
            <div class="row">
                <div class="col-md-3 p-0 pr-3">
                    <h5>Variável</h5>
                    <p class="_ts1">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut
                        labore
                        et
                        dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas
                        accumsan
                        lacus vel facilisis.</p>
                </div>
                <div class="col-md-3 p-0 pr-3">
                    <h5>Variável</h5>
                    <p class="_ts1">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut
                        labore
                        et
                        dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas
                        accumsan
                        lacus vel facilisis.</p>
                </div>
                <div class="col-md-3 p-0 pr-3">
                    <h5>Variável</h5>
                    <p class="_ts1">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut
                        labore
                        et
                        dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas
                        accumsan
                        lacus vel facilisis.</p>
                </div>
                <div class="col-md-3 p-0 pr-3">
                    <h5>Variável</h5>
                    <p class="_ts1">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut
                        labore
                        et
                        dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas
                        accumsan
                        lacus vel facilisis.</p>
                </div>

            </div>
        </div>
        <div class="col-md-4">
            <div class="card bg-lightgrey rm-border" style="width: 22rem;" >
                <div class="card-header rm-background text-center">
                    <h4 class="orange-title font-weight-bold">Valor estimado</h4>
                </div>
                <div class="card-body text-left">
                    <p class="card-title font-weight-bold ">Serviço</p>
                    <div>
                        <p class="card-text _ts1">Cum socilis natoque</p>
                        <p class="card-text _ts1">Habitant morbi tristique</p>
                        <p class="card-text _ts1">Aenean ultrices</p>
                    </div>
                    <div class="pt-4 pb-2">
                        <hr class="m-0">
                        <p class="card-text m-0 mt-2 d-flex justify-content-between font-weight-bold">Preço por usuário <span class="_ts4 orange-title text-right">R$ 50.00</span></p>
                        <hr class="m-0">
                        <p class="card-text m-0 mt-2 d-flex justify-content-between font-weight-bold">Preço mensal <span class="_ts4 orange-title text-right">R$ 1050.00</span></p>
                        <hr class="m-0">
                    </div>
                    <div class="card-footer rm-background pt-3 rm-border">
                        <a href="#" class="btn btn-orange py-2 font-weight-bold text-white w-100">Falar com um consultor</a>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>

<!-- FIM -->
<!-- NEWSLETTER -->
<div class="container-fluid  mt-5 mb-5">
    <div class="bg-1 mt-4 w-90 mx-auto">
        <div class="container pl-11">
            <div id="staytuned" class="text-left pr-5 pb-10rem pt-4rem">
                <h1 class="font-black font-weight-bold">Ainda em dúvida?</h1>
                <p class="text-left lato-medium max-w-text white-secondary-text"> Suspendisse faucibus sed dolor eget
                    posuere interdum urna.
                    ante commodo tristique. consectetur adipiscing commodo tristique Vestibulum imperdiet nibh vel
                    magdolor
                    eget posuere interdum urna.</p>
                <p class="text-left lato-medium max-w-text white-secondary-text">Vante commodo tristique. consectetur
                    adipiscing commodo
                    tristiquea lacinia ultrices.</p>
                <button class="btn btn-light p-2 mt-3 letter-spacing-b">ENTRAR EM CONTATO</button>
            </div>
        </div>
    </div>
</div>
<!-- FIM -->

<%- include('templates/footer.ejs'); %>