<%- include('templates/header.ejs'); %>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 p-0">
            <div class="p-5">
                <div>
                    <h1>Entre em contato que teremos todo prazer em atende-lo</h1>
                    <hr>
                    <p>Tem alguma duvida ou sugestão? Envie para nos no formulário ao seu lado ou atráves de nosso email
                        ou redes</p>
                </div>
                <div>
                    <p class="font-weight-bold">contato@lifelink.com.br</p>
                    <p><a href="d-block">facebook</a></p>
                    <p><a href="d-block">instagram</a></p>
                </div>
                <div>
                    <p class="font-weight-bold">Endereço</p>
                    <p href="">Rua Professor Eugênio Murilo Rubião, 222</p>
                    <p href="">Anchieta, Belo Horizonte - MG, 30310-540</p>
                    <ul class="p-0">
                        <li class="pl-2">

                            <a target="_blank" href="https://www.facebook.com/viva.plus60"><i
                                    class="fab fa-twitter  ft-size icons-color pr-4"></i></a>
                            <a target="_blank" href="https://www.facebook.com/viva.plus60"><i
                                    class="fab fa-facebook-f ft-size icons-color pr-4"></i></a>
                            <a target="_blank" href="https://www.instagram.com/viva.mais60/"><i
                                    class="fab fa-instagram ft-size pr-4 icons-color "></i></a>
                            <a target="_blank" href="https://www.youtube.com/channel/UChaI-oPNbONjR7eOmyQ-Qiw"><i
                                    class="fab fa-youtube  ft-size icons-color pr-4"></i></a href="">
                            <a target="_blank" href="https://www.youtube.com/channel/UChaI-oPNbONjR7eOmyQ-Qiw"><i
                                    class="fas fa-rss  ft-size icons-color pr-4"></i></a href="">
                        </li>
                    </ul>
                </div>
            </div>
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3750.3303691647775!2d-43.92962768452321!3d-19.952603986591093!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xa69834dcf5a14f%3A0xab6e4d3c2ddb0e93!2sRua%20Professor%20Eug%C3%AAnio%20Murilo%20Rubi%C3%A3o%2C%20222%20-%20Anchieta%2C%20Belo%20Horizonte%20-%20MG%2C%2030310-540!5e0!3m2!1spt-BR!2sbr!4v1592083937473!5m2!1spt-BR!2sbr"
                width="100%" height="300" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
                tabindex="0"></iframe>
        </div>
        <div class="col-md-6 bg-1">
            <div class="p-5">
                <h1>Envia sua mensagem</h1>
                <form>
                    <div class="">
           
                        <input class="w-100 bg-1" type="email" placeholder="Email">
                    </div>

                    <div class="">
                        
                        <input class="w-100 bg-1" type="text" placeholder="Seu nome"> 
                    </div>

                    <div class="">
                        
                        <input type="text" class="w-100 bg-1" placeholder="Assunto">
                    </div>

                    <div class="">
                        <input type="text" class="w-100 bg-1" placeholder="Mensagem">
                    </div>
                    <div class="">
                        <input type="button" value="Enviar">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<%- include('templates/footer.ejs'); %>