<%- include('templates/header.ejs'); %>
<div class="container-fluid bg-1">
    <div class="container" id="about">

        <div class="col-md-12">
            <div class="row p-5">
                <div class="col-md-4">
                    <div class="about">
                        <p>SOBRE NÓS</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="about">
                        <h2>Bem vindo à LifeLink</h2>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="about">
                        <p>Suspendisse faucibus sed dolor eget posuere interdum urna. ante
                            Suspendisse faucibus sed dolor eget posuere interdum urna. ante
                            Suspendisse faucibus sed dolor eget posuere interdum urna. ante
                            Suspendisse faucibus sed dolor eget posuere interdum urna. ante

                            Suspendisse faucibus sed dolor eget posuere interdum urna. ante
                            Suspendisse faucibus sed dolor eget posuere interdum urna. ante
                        </p>
                    </div>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="about">
                    <p>Segurança do idoso</p>
                    <span> Suspendisse faucibus sed </span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="about">
                    <p>Monitorameto de Mieração</p>
                    <span> Suspendisse faucibus sed </span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="about">
                    <p>Monitoramento pet</p>
                    <span> Suspendisse faucibus sed </span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="about">
                    <p>MOnitoramento infantil</p>
                    <span> Suspendisse faucibus sed </span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid mt-5 pb-5">
    <div class="container" id="brands">

        <div class="col-md-12">
            <div class="row p-5">
                <div class="col-md-6">
                    <div class="brand-text">
                        <p class="pb-3">As marcas LifeLink</p>

                        <p>Suspendisse faucibus sed dolor eget posuere interdum urna. ante
                            Suspendisse faucibus sed dolor eget posuere interdum urna. ante
                            Suspendisse faucibus sed dolor eget posuere interdum urna. ante
                            Suspendisse faucibus sed dolor eget posuere interdum urna. ante

                            Suspendisse faucibus sed dolor eget posuere interdum urna. ante
                            Suspendisse faucibus sed dolor eget posuere interdum urna. ante</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="clients-brands">
                        <p>TOTAL DE MARCAS</p>
                        <span>7 marcas</span>
                    </div>
                    <div class="clients-brands">
                        <p>CLIENTES</p>
                        <span>+145 Clientes</span>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="acting-serv">
                        <p>ATUAÇÃO</p>
                        <span>12 ESTADOS BRASILEIROS</span>
                    </div>
                    <div class="acting-serv">
                        <p>ATENDIMENTOS</p>
                        <span>+320 ATENDIMENTOS BEM SUCEDIDOS</span>
                    </div>
                </div>
            </div>


            <div class="row">
                <div id="cardCarrousel" class="carousel slide " data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="flip-card card-bg1">
                                        <div class="front"></div>
                                        <div class="back"></div>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="flip-card card-bg2">
                                        <div class="front"></div>
                                        <div class="back"></div>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="flip-card card-bg3">
                                        <div class="front"></div>
                                        <div class="back"></div>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="flip-card card-bg4">
                                        <div class="front"></div>
                                        <div class="back"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item ">
                            <div class="row">

                                <div class="col-md-3">
                                    <div class="flip-card card-bg1">
                                        <div class="front"></div>
                                        <div class="back"></div>
                                    </div>
                                </div>

                                <div class="col-md-3 ">
                                    <div class="flip-card card-bg2">
                                        <div class="front"></div>
                                        <div class="back"></div>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="flip-card card-bg3">
                                        <div class="front"></div>
                                        <div class="back"></div>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="flip-card bg-transparent">
                                        <div class="front"></div>
                                        <div class="back"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#cardCarrousel" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#cardCarrousel" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="container-fluid bg-2 mt-5">
    <div class="container">

        <div class="col-md-12 p-5 mb-5">
            <div class="row text-center">
                <h2 class="mx-auto">O que dizem nossos clientes</h2>
                <p>lorem impsum lorem impsum lorem impsum lorem impsum lorem impsum
                    lorem impsumlorem impsum lorem impsum lorem impsumlorem impsum
                    lorem impsum lorem impsum lorem impsum lorem impsum lorem impsum
                </p>
            </div>
        </div>

        <div class="row p-5">
            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="brand-item">
                            <div class="row p-5">
                                <div class="col-md-6">
                                    <img src="/images/logoMarca1.png" class="d-block w-100" alt="...">
                                </div>

                                <div class="col-md-6">
                                    <div class="client-info">
                                        <img src="/images/userPic.png" alt="">

                                        <h3>Joséeee Silva</h3>
                                        <p>Diretor de segurança VALE</p>
                                        <p>Lorem impsum Lorem impsum Lorem impsum Lorem impsumLorem impsumLorem impsum
                                            Lorem impsumLorem impsumLorem impsumLorem impsumLorem impsumLorem impsum
                                            Lorem impsumLorem impsumLorem impsumLorem impsumLorem impsumLorem impsum
                                            Lorem impsumLorem impsumLorem impsumLorem impsumLorem impsumLorem impsum
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="brand-item">
                            <div class="row">
                                <div class="col-md-6">
                                    <img src="/images/logoMarca1.png" class="d-block w-100" alt="...">
                                </div>
                                <div class="col-md-6">
                                    <div class="client-info">
                                        <img src="/images/userPic.png" alt="">

                                        <h3>Joséeee Silva</h3>
                                        <p>Diretor de segurança VALE</p>
                                        <p>Lorem impsum Lorem impsum Lorem impsum Lorem impsumLorem impsumLorem impsum
                                            Lorem impsumLorem impsumLorem impsumLorem impsumLorem impsumLorem impsum
                                            Lorem impsumLorem impsumLorem impsumLorem impsumLorem impsumLorem impsum
                                            Lorem impsumLorem impsumLorem impsumLorem impsumLorem impsumLorem impsum
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="brand-item">
                            <div class="row">
                                <div class="col-md-6">
                                    <img src="/images/logoMarca1.png" class="d-block w-100" alt="...">
                                </div>
                                <div class="col-md-6">
                                    <div class="client-info">
                                        <img src="/images/userPic.png" alt="">

                                        <h3>Joséeee Silva</h3>
                                        <p>Diretor de segurança VALE</p>
                                        <p>Lorem impsum Lorem impsum Lorem impsum Lorem impsumLorem impsumLorem impsum
                                            Lorem impsumLorem impsumLorem impsumLorem impsumLorem impsumLorem impsum
                                            Lorem impsumLorem impsumLorem impsumLorem impsumLorem impsumLorem impsum
                                            Lorem impsumLorem impsumLorem impsumLorem impsumLorem impsumLorem impsum
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>

        </div>

    </div>
</div>
<div class="container-fluid mt-5">
    <div class="container">

        <div class="row">
            <div class="col-md-6">
                <div class="bg-mask"></div>
                <!-- <span>ultima do blog</span>
                        <span>Lorem ipsum dolor sit amet
                            falertac allec vitum proc
                        </span> -->
                <img class="img-fluid" src="/images/nt1.png" alt="Noticia principal">

            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-3">
                        <div class="bg-mask"></div>
                        <!-- <span>Noticias do VIVA</span>
                            <span>Lorem ipsum dolor sit amet
                                falertac allec vitum proc
                            </span> -->
                        <img class="img-fluid" src="/images/nt2.png" alt="">
                    </div>
                    <div class="col-md-3">
                        <div class="bg-mask"></div>
                        <!-- <span>Noticias da Marca</span>
                            <span>Lorem ipsum dolor sit amet
                                falertac allec vitum proc
                            </span> -->
                        <img class="img-fluid" src="/images/nt3.png" alt="">

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="bg-mask"></div>
                        <!-- <span>Noticias da Marca</span>
                            <span>Lorem ipsum dolor sit amet
                                falertac allec vitum proc
                            </span> -->
                        <img class="img-fluid" src="/images/nt4.png" alt="">

                    </div>
                    <div class="col-md-3">
                        <div class="bg-1">

                            <span>Noticias da Marca</span>
                            <span>Lorem ipsum dolor sit amet
                                falertac allec vitum proc
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="container-fluid  mt-5">
    <div class="bg-1 m-5 w-75 mx-auto">
        <div id="staytuned" class="text-center pr-5 pl-5 pb-2 pt-5">
            <h3>Fique por dentro da LifeLink</h3>
            <p class="mx-auto mx-500">Receba em primeira mão nossas novidades e promoções em seu email. Cadastre-se
                agora mesmo!</p>
        </div>
        <div class="text-center pr-5 pl-5 pb-5 pt-2">
            <form>
                <input type="text" placeholder="email"><br>
                <button class="m-4 btn btn-dark2  p-2">INSCREVER</button>
            </form>
        </div>
    </div>
</div>

<div class="container abs-value-1 mt-5">
    <div class="contactTitle text-left">
        <h1>Fale com a gente</h1>
    </div>
    <div class="bg-3 ">
        <div class="row p-5">
            <div class="col-md-6">
                <div class="local">
                    <h3>Belo horizonte, <span>Minas Gerais</span></h3>
                    <p>Rua professor Eugênio Murilo Rubião, 222</p>
                    <p>Anchieta, Belo horizonte - MG, 3</p>
                </div>
                <div class="email">
                    <p>Email: contato@lifeLink.com</p>
                    <span class="d-block pt-5">Ou envie sua mensagem</span>
                    <hr>
                </div>
            </div>
            <div class="col-md-6 p-5">
                <div>
                    <span>Telefone</span>
                    <h3>31 1234-5678</h3>
                </div>
                <div>
                    <span class="d-block">Horário de atendimento</span>
                    <span class="d-block pt-2">Segunda a sexta - 08:00 as 17:30</span>
                </div>
            </div>
        </div>
    </div>
</div>





<%- include('templates/footer.ejs'); %>