<%- include('templates/header.ejs'); %>
<section class="container-fluid p-0">
    <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">

        <h1 class="blue-title margin-top-text font-weight-bold w-nowrap mt-5 _ts9 font-italic">Onde a LifeLink
            atua</h1>
        <div class="carousel-inner">
            <div class="container">
                <div class="mask-header-div">
                    <h1 class="blue-title title-mobile font-weight-bold font-italic">Onde a LifeLink
                        atua</h1>
                    <hr class="bg-white hr-know-about d-inline-flex">
                    <p class="p-0 m-0 text-letter text-dark">Conheça a<br> LifeLink</p>

                    <div class="mask-header-body ">
                        <h1 class=" _ts10 font-weight-bold">Soluções de Monitoramento</h1>
                    </div>
                    <div class="mask-header-footer d-flex">
                        <p class="_ts1 text-black font-weight-bold">
                            SAIBA MAIS</p>
                    </div>
                    <div class="rolldown" ng-click=""><i class="fas fa-chevron-down"></i></div>
                    <div class="text-left"></div>
                </div>

            </div>
            <div class="bg-mask22"></div>
            <div class="carousel-item active">
                <img src="/images/servicesIntroPic.png" class="d-block w-100 h-80" alt="...">
            </div>
        </div>

    </div>
</section>


<section class="container mt-5 mb-5 mt-10 ">
    <div class="row">
        <div class="col-md-4">
            <img class="img-fluid mb-4" src="/images/1Monitormamentodepessoas.jpg" />
            <h4 class="text-dark font-weight-bold">Monitoramento de pessoas (PERS)</h4>
            <p class="_ts2  text-dark  text-justify">Como um centro de monitoramento PERS estabelecido, oferecemos
                monitoramento para empresas que visam levar mais tranquilidade, autonomia e segurança ao dia-a-dia de
                idosos, mulheres e crianças.
            </p>
            <a class="orange-title" href="">Saiba Mais</a>
        </div>
        <div class="col-md-4">
            <img class="img-fluid mb-4" src="/images/1MoniotramentoT.jpg" />
            <h4 class="text-dark font-weight-bold">Monitoramento de trabalhadores solitários</h4>
            <p class="_ts2  text-dark  text-justify">Mineradoras, indústrias químicas e petroleiras têm em suas equipes
                trabalhadores solitários que executam funções com considerável risco de vida. A LifeLink atua para
                oferecer a eles um canal seguro para solicitar ajuda independente de onde estiverem.

            </p>
            <a class="orange-title" href="">Saiba Mais</a>
        </div>
        <div class="col-md-4">
            <img class="img-fluid mb-4" src="/images/1MonitoramentoIoT.jpg" />
            <h4 class="text-dark font-weight-bold">Monitoramento de IoT</h4>
            <p class="_ts2  text-dark  text-justify">Conectividade sem fio está rapidamente crescendo e a LifeLink está
                crescendo junto. A medida que produtos e serviços surgem para melhorar qualidade de vida e segurança,
                nós adaptamos a nossa tecnologia para acomodar essas necessidades.

            </p>
            <a class="orange-title" href="">Saiba Mais</a>
        </div>
    </div>
</section>

<div class="container-fluid bg-shades-of-gray">
    <div class="container-fluid mt-5 pt-5 mb-5 pb-5">
        <div class="container">
            <div class="mt-6 " id="showRoom">
                <div class="row rowMobile">
                    <div class="col-md-4 pt-4 pr-4 text-right">
                        <h2 class=" _ts39 text-right text-orange">Monitoramento profissional.</h2>
                        <p class="_ts2 p-1 text-gray text-right">
                            Monitoramento terceirizado para o seu cliente ou sua empresa. Você não vai precisar começar
                            do
                            zero uma Central de Monitoramento. Com anos de experiência no mercado de monitoramento
                            emergencial, a LifeLink faz tudo isso por você! Disponibilizamos uma equipe treinada, para
                            atender as emergências da sua empresa. Além disso, disponibilizamos a nossa Plataforma de
                            Monitoramento para que você tenha total controle dos seus clientes.
                        </p>
                        <a class="btn btn btn-orange  text-white mt-2 px-5 py-2" href="/">Conheça</a>
                    </div>

                    <div class="col-md-8  p-0">
                        <img class="img-fluid" alt="grupo de idosas sorrindo"
                            src="/images/1MonitoramentoProfissional.jpg" type="image/jpeg">
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="container-fluid bg-3 pb-5">
        <div class="container pb-5">
            <div class=" mb-5" id="">
                <div class="row ">
                    <div class="col-md-7 p-0">

                        <img class="img-fluid" alt="Monitoramento em nuvem" src="/images/1Monitoramentoemnuvem.jpg"
                            type="image/jpeg">

                    </div>
                    <div class="col-md-4 pt-4 pr-4 text-left">
                        <h2 class="_ts39 pl-3 main-text text-left">Monitoramento em nuvem.
                        </h2>
                        <p class="_ts2 p-1 pl-3  text-left color-black2">
                            Software para automação do monitoramento de Centrais de Atendimento. Tem os seus operadores
                            e precisa de um sistema mais robusto? Use a nossa infraestrtura em nuvem para monitorar os
                            seus clientes com o seu time!
                        </p>

                        <a class="btn btn-orange  text-white mt-2 px-5 py-2" href="/">Conheça</a>

                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="container-fluid pb-5">
        <div class="container">
            <div class="mt-10 " id="showRoom">
                <div class="row rowMobile">
                    <div class="col-md-4 pt-4 pr-4 text-right">
                        <h2 class="_ts39 text-orange ">Monitoramento híbrido.</h2>

                        <p class="_ts2 p-1 text-gray">Buscando redundância para a sua operação? O monitoramento híbrido
                            permite transformar a nossa Central como redundância da sua central de monitoramento. Conte
                            conosco quando houver algum problema!
                        </p>
                        <a class="btn btn-orange   text-white mt-2 px-5 py-2" href="/">Conheça.
                        </a>

                    </div>
                    <div class="col-md-8 p-0">
                        <div class="showRoomImg">
                            <img class="img-fluid " src="/images/1MonitoramentoH.jpg" type="image/jpeg">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include('templates/archieves.ejs'); %>
<%- include('templates/footer.ejs'); %>