<%- include('templates/header.ejs'); %>
<section class="container-fluid p-0">
    <div id="carouselExampleCaptions" class="carousel slide carousel-header" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="3"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="4"></li>
        </ol>
        <div class="carousel-inner">
            <div class="container">
            <div class="mask-header-div pl-5">
                
                <h1 class="blue-title font-weight-bold _ts9 font-italic budgets-title">Onde a LifeLink atua</h1>
                <hr class="bg-white hr-know-about d-inline-flex">
                <p class="p-0 m-0">A Lifelink</p>
                
                <div class="mask-header-body rotate-text">
                    <p class="_ts2 p-0 m-0">Segurança, Tecnologia e qualidade</p>
                    <h1 class=" _ts10 font-weight-bold">Serviços de<br><span class="orange-title">Monitoramento</span></h1>
                </div>
                <div class="mask-header-footer d-flex rotate-text">
                    <p class="_ts1">
                        <hr class="bg-white w-35 d-inline-flex text-left"/>Veja mais</p>
                </div>
            </div>

            </div>
            <div class="bg-mask2"></div>
            <div class="carousel-item active">
                <img src="/images/slide1.png" class="d-block w-100 h-80" alt="...">
            </div>
            <div class="carousel-item">
                <img src="/images/slide1.png" class="d-block w-100 h-80" alt="...">
            </div>
            <div class="carousel-item">
                <img src="/images/slide1.png" class="d-block w-100 h-80" alt="...">
            </div>
            <div class="carousel-item">
                <img src="/images/slide1.png" class="d-block w-100 h-80" alt="...">
            </div>
            <div class="carousel-item">
                <img src="/images/slide1.png" class="d-block w-100 h-80" alt="...">
            </div>
        </div>
    </div>
</section>
<%- include('templates/footer.ejs'); %>