@import "./style.scss";
.pb-10rem{
    padding-bottom: 10rem!important;;
}
.pt-4rem{
    padding-top: 4rem!important;
}

.max-w-text{
   max-width: 547px;
}
.letter-spacing-b{
    letter-spacing: 0.6px;
}
.mx-950{
    max-width: 956px;
}

.pr-9{
    padding-right: 9rem!important;
}

.pl-7{
    padding-left: 7rem!important;
}


.btn-budgets{
    color: black;
    border: 1px solid grey !important;
    background-color: white;
}


@media screen and(min-width: 768px) {
    .budgets-title{
        margin-top: -33px;
        z-index: 999;
        position: relative;
    }
    .pl-button{
        padding: 0;
    }

}
@media (min-width: 768px) and (max-width: 940px) {
    .card{
        width: 15rem;
    }

}
@media screen and(max-width: 767px) {
    .p-mobile{
        padding: 1rem;
    }
    .pl-11{
        padding-left: 3rem !important;
    }
}
