@import "./style.scss";


.bg-gradient{
    background: linear-gradient(to right, #ffffff 0%,#ffffff 50%,#fd9824 50%,#fba747 100%);
}
.h-px-300{
    height: 300px;
}
.input-border-bottom{
    color: white;
    background-color: #fba23b00 !important;
    border-top: none !important;
    border-left: none  !important;
    border-right: none  !important;
    border-bottom: 1px solid white  !important;
}
.button-contact{
    color: #3b8aef !important;
}
.hr-contact{
    width: 13%;
    height: 3px;
    margin-left: 0;
    background-color: #ff8600;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: white;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: white;
  }


  @media screen and (max-width: 767px){
      .bg-gradient{
        background: linear-gradient(to bottom, #fff 0,#fff 45%,#fd9824 44%,#fba747 100%);
      }
  }