@import "./style.scss";




.mask-header-footer{
    position: absolute !important;
    width: 32% !important;
    top: 62% !important;
    left: 5% !important;
}

.margin-top-text{
    position: absolute;
    top: -90px;
    left: 20%;
    z-index: 999;
    font-size: 64px;
}
.rolldown{
    position: absolute;
    bottom: 60px;
    left: 30px;
    color: black;
    font-weight: bold;

}
.text-letter{
    position: absolute;
    top: 132px;
    left: 16px;
    font-size: 14px;
    letter-spacing: 6px;
}

.carouselIndi{
    z-index: 9999;
    position: absolute;
    list-style: none;
    display: flex !important;
    align-items: center;
    right: 20px!important;
    top: 50%!important;
    transform: translate(-50%)!important;
    bottom: auto!important;
    left: auto!important;
    margin: 0!important;
    padding: 0 !important;
    background-color: #fff;
    border-radius: 3rem;
    width: 4%;
    height: 4%;
    display: flex;
    justify-content: center;
    li{
        color: #ff8000;
    }
    li .active{
    
        color: #ff8000 !important;
    }
}

@media (max-width: 767px){
    .bg-mask22{
        z-index: 9;
        position: absolute;
        top: 0;
        left: 0;
        background: #f68b1fd6;
        width: 100%;
        height: 100%;
    }
    .mask-header-div{
        padding: 0px;
    }
    .margin-top-text{
        display: none;
    }
    .title-mobile{
        color: white;
        position: absolute;
        top: 24%;
        left: 3%;
    }
    .text-letter{
        position: absolute;
        top: 10%;
        left: 5%;
        font-size: 14px;
        letter-spacing: 6px;
        color: white !important;
    }
    .mask-header-body{
        position: absolute;
        top: 50%;
        left: 4% !important;
    }
    .mask-header-footer{
        position: absolute !important;
        width: 32% !important;
        top: 71% !important;
        left: 5% !important;
    }
    .rowMobile{
        flex-direction: column-reverse;
    }
  
}

@media (min-width: 767px){
    .text-alignment{
        text-align: left;   
    }
    .title-mobile{
        display: none;
    }
    .bg-mask22{
        z-index: 9;
        position: absolute;
        top: 0;
        left: 0;
        background: linear-gradient(90deg, rgb(254, 136, 0) 40%, rgba(222, 145, 53, 0.34) 26%);
        width: 100%;
        height: 100%;
    }
}