/***************************************
  Configuração dos components
****************************************/

// #region PALETA DE CORES
$facebook-color: #3b5994;
$google-color: #d34836;
$lifelink-orange-color: #ff8900;
$lifelink-grey-color: #898989;
$lifelink-black-color: #020202;
$lifelink-white-color: #fbfffc;
$lifelink-black-secondary-color: #5a5a5a;
$lifelink-icons-color: #373737; 
$lifelink-hr-color: #353535;
$lifelink-purple-secondary-color: #7a6369;
$lifelink-white-color: #fbfffc;
$lifelink-one-grey-color: #585858;
$lifelink-blue-color: #373f55;
$lifelink-grey-secondary-color: #898989;
$lifelink-brown-secondary-color: #9c6400;
// #endregion

// #region BOOTSTRAP
@import "../../../../bower_components/bootstrap/scss/bootstrap.scss";

// #endregion

// #region FONTES
@font-face {
  font-family: "";
  src: url("/fonts/Lato/Lato-Semibold.ttf")
  }

  @font-face {
    font-family: "latosemibold";
    src: url("/fonts/Lato/Lato-Semibold.ttf");
    font-weight: normal;
    font-style: normal;
  }
  $font-semi-bold: "latosemibold";
  
  @font-face {
    font-family: "latoregular";
    src: url("/fonts/Lato/Lato-Regular.ttf");
    font-weight: normal;
    font-style: normal;
  }
  $font-regular: "latoregular";
  
  @font-face {
    font-family: "latoblack";
    src: url("/fonts/Lato/Lato-Black.ttf");
    font-weight: normal;
    font-style: normal;
  }
  $font-black: "latoblack";

  @font-face {
    font-family: "latomedium";
    src: url("/fonts/Lato/Lato-Medium.ttf");
    font-weight: normal;
    font-style: normal;
  }
  $font-medium: "latomedium";

   @font-face {
     font-family: "latoblackitalic";
     src: url("/fonts/Lato/Lato-BlackItalic.tff");
     font-weight: normal;
     font-style: normal;
   }

   $font-black-italic: "latoblackitalic";
  
  // @font-face {
  //   font-family: "robotoregular";
  //   src: url("/fonts/Roboto/Roboto-Regular.woff") format("woff");
  //   font-weight: normal;
  //   font-style: normal;
  // }
  // $font-roboto-regular: "robotoregular";
  
  // @font-face {
  //   font-family: "myriadprolight";
  //   src: url("/fonts/MyriadPro/MyriadPro-Light.woff") format("woff");
  //   font-weight: normal;
  //   font-style: normal;
  // }
  // $font-light: "myriadprolight";
  
  // @font-face {
  //   font-family: "myriadprobold";
  //   src: url("/fonts/MyriadPro/MYRIADPRO-BOLD.woff") format("woff");
  //   font-weight: normal;
  //   font-style: normal;
  // }
  // $font-bold: "myriadprobold";
  
  // .font-family-arial {
  //   font-family: Arial, Helvetica, sans-serif;
  // }
  
@import "../../../../dist/fonts/FontAwesome/scss/brands.scss";
@import "../../../../dist/fonts/FontAwesome/scss/solid.scss";
@import "../../../../dist/fonts/FontAwesome/scss/regular.scss";
@import "../../../../dist/fonts/FontAwesome/scss/fontawesome.scss";
// #endregion

// #region HTML COMPONENTS SETTINGS
ul {
  list-style: none;
}
li {
  list-style-type: none;
}
// #endregion

// #region BUTTONS
.btn:not(.btn-default) {
  border-radius: 21px;
  text-align: center;
  border: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
}

.btn-default {
  background-color: $secondary;
  margin: 0.5rem;
  color: white;
  &.active {
    background-color: $primary;
  }
}
// #endregion

// #region FORMS
.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #d5d5d5;
  outline: 0;
  box-shadow: 0 0 0 0.2rem #eeeeee;
}
// #endregion

// #region SCROLLBOX
::-webkit-scrollbar-track {
  background-color: #f4f4f4;
}
::-webkit-scrollbar {
  width: 6px;
  background: #f4f4f4;
}
::-webkit-scrollbar-thumb {
  background: #ff8b00;
}
body {
  scrollbar-base-color: #c0c0c0;
  scrollbar-base-color: #c0c0c0;
  scrollbar-3dlight-color: #c0c0c0;
  scrollbar-highlight-color: #c0c0c0;
  scrollbar-track-color: #ebebeb;
  scrollbar-arrow-color: black;
  scrollbar-shadow-color: #c0c0c0;
}
// #endregion
