@import "./settings.scss";
@import "./helpers.scss";



// HEADER
.collapse-100-percent-from-left{
    width: 50%;
    position: absolute;
    height: 100%;
    z-index: 1;
}
.h-80{
    height: 90vh;
}
.carousel-indicators li {
    width: 7px !important;
    height: 7px !important;
    border-radius: 100% !important;
    display: block !important;
    margin: 5px 0 !important;

  }
  .carousel-indicators{
    display: block;
    right: 20px !important;
    top: 50% !important;
    transform: translate(-50%) !important;
    bottom: auto !important;
    left: auto !important;
    width: auto !important;
    margin: 0 !important;
    padding: 0 !important;
  }
  
#nav-toggle-button{
    background-color:white;
}
.nav-link{
    color: white !important;
    &:hover{
        color: #f68b1f;
    }
}
//FOOTER
.mx-300{
    max-width: 300px;
}
.bg-mask2{
    position: absolute;
    top: 0;
    left: 0;
    background: #000;
    opacity: 0.5;
    width: 40%;
    height: 100%;
}
.bg-4{
    background-color: #cccccc;
}
.strip{
    width: 100%;
    height: 8vh;
}
.bg-footer{
    background-image: url('/images/bg-footer.png');
    background-size: cover;
    background-repeat: no-repeat;
}
.bg-grey{
    background-color: #e0e0e0;
}